<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/link.css') }}">
</head>
   <body>
	<button class="collapsible">Exact matches</button>
<div class="content">
      <table border=1 id="t01">
         <thead>
            <td><b>Variant ID</b></td>
            <td><b>Copy Number Status</b></td>
            <td><b>Phenotype</b></td>
			<td><b>Outer-Start</b></td>
			<td><b>Outer-End</b></td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["variant_id"]}}</td>
               <td>{{row["copy_number_status"]}}</td>
               <td> {{ row["phenotype"]}}</td>
			   <td> {{ row["outer_start"]}}</td>
			   <td> {{ row["outer_end"]}}</td>
            </tr>
         {% endfor %}
      </table>
	  </div> 

      <a href = "/">Search again</a>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

   </body>
</html>
